# Node
node_modules/
package-lock.json
npm-debug.log

# Hugo
public/
resources/
hugo_stats.json

# Build outputs
dist/
.build/
.cache/
*.log

# Env files
.env
.env.local
.env.development
.env.production

# Editor
.vscode/
.idea/
*.sublime*
*.swp

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# React
.cache/
*.pnp.*
.pnp.js